
[ peer_cert ]
# Extensions for peer (server+client) certificates (`man x509v3_config`).
basicConstraints = critical, CA:FALSE
#nsCertType = peer
#nsComment = "OpenSSL Generated Peer Certificate"
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage = critical, serverAuth, clientAuth
